body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;  /* 白色背景 */
    color: #333333;  /* 深灰色文本 */
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #ffffff;
    color: #000000;  /* 黑色文字 */
}
.logo img {
    width: 200px;
    height: auto;
}

.username {
    display: flex;
    align-items: center;
}
.username a {
    color: #000000;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 3px;
}
.username a:hover {
    text-decoration: underline;
}

.utility {
    display: flex;
    align-items: center;
    gap: 20px;
}
.utility a {
    color: #000000;
    text-decoration: none;
}
.utility a:hover {
    text-decoration: underline;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: white;
    padding: 5px;
    z-index: 1000;
    border: 2px solid  #d4af7a;
}