<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>店家</title>
    <link rel="stylesheet" th:href="@{/css/ordermgmt.css}">

</head>
<body>
<div class="header">
    <div class="username">
        <span th:if="${session.user != null}">
            欢迎, <a th:href="@{/mypage}" th:text="${session.user.username}"></a>
            <a th:href="@{/logout}">退出登录</a>
        </span>
        <span th:unless="${session.user != null}">
            你好， <a th:href="@{/logsign}">请登录</a>
        </span>
    </div>
    <div class="logo">
        <img th:src="@{/images/logo1.png}" alt="peiahuishi">
    </div>
    <div class="utility">
        <a th:href="@{/seller/{id}(id=${session.user.id})}">卖家中心</a>
        <a th:href="@{/customerService}">消息</a>
    </div>
</div>
<div class="navigation">
    <div class="dashboard">
        <a th:href="@{/seller/{id}(id=${session.user.id})}" >主页</a>
    </div>
    <div class="shopmgmt">
        <a th:href="@{/seller/shopmanagement/{id}(id=${session.user.id})}">店铺管理</a>
    </div>
    <div class="ordermgmt">
        <a th:href="@{/seller/ordermanagement/{id}(id=${session.user.id})}">订单管理</a>
    </div>
</div>
<div class="classification">
    <a class="barlink" th:href="@{/seller/ordermanagement/{id}(id=${session.user.id})}">全部</a>
    <a class="barlink" th:href="@{/seller/order/unshipped/{id}(id=${session.user.id})}">待发货</a>
    <a class="barlink" th:href="@{/seller/order/unpaid/{id}(id=${session.user.id})}">未付款</a>
    <a class="barlink" th:href="@{/seller/order/closed/{id}(id=${session.user.id})}">已关闭</a>
    <a class="barlink" th:href="@{/seller/order/completed/{id}(id=${session.user.id})}">已完成</a>
</div>
<div class="search">
    <form method="post">
        <label class="searchlabel">订单号：<input th:type="text" th:name="order_id" class ="searchbox"></label>
        <label class="searchlabel">买家：<input th:type="text" th:name="username" class ="searchbox"></label>
        <label class="searchlabel">商品名称：<input th:type="text" th:name="name" class ="searchbox"></label>
        <label class="searchlabel">下单时间：<input th:type="datetime-local" name="startDate" class="searchbox"></label>
        <label class="searchlabel">至<input th:type="datetime-local" name="endDate" class="searchbox"></label>

        <button th:type="submit" class="submit">搜索</button>
    </form>
</div>
<div class="orders">
    <div class="body">
        <span class="title">商品</span>
        <span class="title">订单信息</span>
        <span class="title">状态</span>
        <span class="title">金额</span>
        <span class="title">操作</span>
    </div>

    <div class="main" th:each="order: ${orders}">
        <!-- 订单信息 -->
        <div class="info">
            <span><label>订单编号：</label><label th:text="${order.order_id}"></label></span>
            <span><label>下单时间：</label><label th:text="${order.created_at}"></label></span>
            <span><label>买家：</label><label th:text="${order.username}"></label></span>
        </div>

        <!-- 订单内容 -->
        <div class="order-content">
            <!-- 商品图片 -->
            <div class="image-container">
                <img th:src="${order.image_url}" alt="商品图片" class="order-img">
            </div>

            <!-- 商品信息 -->
            <div class="product-info">
                <p class="product-name" th:text="${order.goodsName}"></p>
                <a class="snapshot-link" th:href="@{/seller/snapshot/{orderId}(orderId=${order.order_id})}">交易快照</a>
            </div>

            <!-- 订单状态 -->
            <div class="order-status">
                <label th:if="${order.status == 'unpaid'}">未付款</label>
                <label th:if="${order.status == 'unshipped'}">未发货</label>
                <label th:if="${order.status == 'completed'}">已完成</label>
                <label th:if="${order.status == 'closed'}">已关闭</label>
            </div>

            <!-- 订单金额 -->
            <div class="order-price">
                <label th:text="${order.price}"></label>
            </div>

            <!-- 操作按钮 -->
            <div class="order-actions">
                <div th:if="${order.status == 'unshipped'}">
                    <a th:href="@{/order/deliver(goodsId=${order.goods_id}, status=${status},id=${session.user.id})}"><button type="submit" class="submit">发货</button></a>
                    <a th:href="@{/order/close(goodsId=${order.goods_id}, status=${status},id=${session.user.id})}"><button type="submit" class="submit">退款</button></a>
                </div>
                <div th:if="${order.status == 'unpaid'}">
                    <button type="submit" class="submit">催付款</button>
                    <a th:href="@{/order/close(goodsId=${order.goods_id}, status=${status},id=${session.user.id})}"><button type="submit" class="submit">关闭交易</button></a>
                </div>
                <div th:if="${order.status == 'completed'}">
                    <button type="submit" class="submit">查看物流</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>