<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>店家</title>
</head>
<body>
<div class="header">
    <div class="username">
        <span th:if="${session.user != null}">
            欢迎, <a th:href="@{/mypage}" th:text="${session.user.username}"></a>
            <a th:href="@{/logout}">退出登录</a>
        </span>
        <span th:unless="${session.user != null}">
            你好， <a th:href="@{/logsign}">请登录</a>
        </span>
    </div>
    <div class="logo">
        <img th:src="@{/images/logo.png}" alt="peiahuishi">
    </div>
    <div class="utility">
        <a th:href="@{/seller/{id}(id=${session.user.id})}">卖家中心</a>
        <a th:href="@{/cart}">购物车</a>
        <a th:href="@{/customerService}">客服</a>
    </div>
</div>
<div class="navigation">
    <div class="dashboard">
        <a th:href="@{/seller/{id}(id=${session.user.id})}" >主页</a>
    </div>
    <div class="shopmgmt">
        <a th:href="@{/seller/shopmanagement/{id}(id=${session.user.id})}">店铺管理</a>
    </div>
    <div class="ordermgmt">
        <a th:href="@{/seller/ordermanagement/{id}(id=${session.user.id})}">订单管理</a>
    </div>
</div>//顶部主导航
</body>
</html>