<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>店家</title>
</head>
<body>
<div class="header">
    <div class="username">
        <span th:if="${session.user != null}">
            欢迎, <a th:href="@{/mypage}" th:text="${session.user.username}"></a>
            <a th:href="@{/logout}">退出登录</a>
        </span>
        <span th:unless="${session.user != null}">
            你好， <a th:href="@{/logsign}">请登录</a>
        </span>
    </div>
    <div class="logo">
        <img th:src="@{/images/logo.png}" alt="peiahuishi">
    </div>
    <div class="utility">
        <a th:href="@{/seller/{id}(id=${session.user.id})}">卖家中心</a>
        <a th:href="@{/cart}">购物车</a>
        <a th:href="@{/customerService}">客服</a>
    </div>
</div>
<div class="navigation">
    <div class="dashboard">
        <a th:href="@{/seller/{id}(id=${session.user.id})}" >主页</a>
    </div>
    <div class="shopmgmt">
        <a th:href="@{/seller/shopmanagement/{id}(id=${session.user.id})}">店铺管理</a>
    </div>
    <div class="ordermgmt">
        <a th:href="@{/seller/ordermanagement/{id}(id=${session.user.id})}">订单管理</a>
    </div>
</div>//顶部主导航
<div class="switch">
    <label>店铺 <input th:type="select" name="switch"> </label>
    <label th:text="'状态：' + ${shop.status}"></label>
</div>
<div class="goodsinfo">
    <div class="1">
        <div class="2">
            <a th:href="@{???}">店铺信息</a>
            <a th:href="@{???}">查看</a>
            <a th:href="@{???}">修改</a>
        </div>
        <div class="2">
            <a th:href="@{???}">商品管理</a>
            <a th:href="@{???}">商品种类</a>
            <a th:href="@{???}">商品个体</a>
        </div>
        <div class="2">
            <a th:href="@{???}">店铺打理</a>
            <a th:href="@{???}">店铺外观</a>
            <a th:href="@{???}">人员管理</a>
        </div>
    </div>
</div>
<div class="addgoods">
    <a th:href="@{/seller/goodsmanagement/{id}(id=${session.user.id})}">添加商品</a>
</div>

</body>
</html>