<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.penstore.dao.CommentMapper">

    <!-- 插入评论或回复 -->
    <insert id="insertComment" parameterType="com.example.penstore.entity.Comment">
        INSERT INTO comment (
            id, user_id, pop, goods_id, star, comment_at, images,  content
        ) VALUES (
                     #{id}, #{user_id}, #{pop}, #{goodsId}, #{star}, #{comment_at}, #{images}, #{content}
                 )
    </insert>

    <insert id="insertReply">
        INSERT INTO comment (
            id, user_id, pop, goods_id, comment_at,
            images, content, parent_id
        ) VALUES (
                     #{id}, #{user_id}, '2', #{goodsId}, #{comment_at},
                     #{images}, #{content}, #{parentId}
                 )
    </insert>
    <!-- 更新评论的回复状态 -->
    <update id="updateReplyStatus">
        UPDATE comment
        SET isreplied = 1
        WHERE id = #{parentId}
    </update>

    <select id="selectByParentId" resultType="com.example.penstore.entity.Comment">
        SELECT *
        FROM comment
        WHERE id = #{parentId}
    </select>


    <!-- 根据商品ID查询评论 -->
    <select id="selectByGoodsId" resultType="com.example.penstore.entity.Comment">
        SELECT
        c.id,
        c.star,
        c.user_id,
        c.goods_id,
        c.content,
        c.comment_at,
        c.pop,
        (SELECT u.username FROM user u WHERE u.id = c.user_id) AS username  <!-- 直接子查询 -->
        FROM comment c
        WHERE goods_id = #{goodsId}
        AND pop = '1'
        ORDER BY comment_at DESC
    </select>

    <!-- 根据父评论ID查询回复 -->
    <select id="selectRepliesByParentId" resultType="com.example.penstore.entity.Comment">
        SELECT
            c.id,
            c.content,
            c.comment_at,
            -- 直接通过子评论的 user_id 获取用户名
            (SELECT u.username
             FROM user u
             WHERE u.id = c.user_id) AS username
        FROM comment c
        WHERE c.parent_id = #{parentId}
          AND c.pop = '2'
        ORDER BY c.comment_at DESC
    </select>

</mapper>