<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.penstore.dao.GoodsMapper">
    <select id="getByCategory" resultType="com.example.penstore.domain.Goods">
        SELECT * FROM goods WHERE category_id = #{category_id}
    </select>

    <select id="getById" resultType="com.example.penstore.domain.Goods">
        SELECT * FROM goods WHERE id = #{id}
    </select>

    <select id="getByInput" resultType="com.example.penstore.domain.Goods">
        SELECT * FROM  goods WHERE name LIKE CONCAT('%', #{username}, '%')
    </select>
    <select id="searchProducts" resultType="com.example.penstore.domain.Goods">
        SELECT id, name, price
        FROM goods
        WHERE name LIKE CONCAT('%', #{query}, '%')
    </select>
    <select id="getProductsByIds" resultType="com.example.penstore.domain.Goods">
        SELECT id, name, price, description -- 选择特定字段
        FROM goods
        WHERE id IN
        <foreach collection="productIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <insert id="insertGoods" parameterType="com.example.penstore.dto.GoodsRequest">
        INSERT INTO goods (id,name,price,description,stock,category_id,image_url,seller,status)
        VALUES (#{id}, #{name}, #{price}, #{description}, #{stock}, #{category_id}, #{image_url}, #{seller}, #{status})
    </insert>
</mapper>