<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.penstore.dao.GoodsMapper">
    <select id="getByCategory" resultType="com.example.penstore.entity.Goods">
        SELECT * FROM goods WHERE category_id = #{category_id}
    </select>

    <select id="getById" resultType="com.example.penstore.entity.Goods">
        SELECT * FROM goods WHERE id = #{id}
    </select>

    <select id="getByInput" resultType="com.example.penstore.entity.Goods">
        SELECT * FROM  goods WHERE name LIKE CONCAT('%', #{username}, '%')
    </select>
    <select id="searchProducts" resultType="com.example.penstore.entity.Goods">
        SELECT id, name, price
        FROM goods
        WHERE name LIKE CONCAT('%', #{query}, '%')
    </select>
    <select id="getProductsByIds" resultType="com.example.penstore.entity.Goods">
        SELECT id, name, price, description -- 选择特定字段
        FROM goods
        WHERE id IN
        <foreach collection="productIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <insert id="insertGoods" parameterType="com.example.penstore.dto.GoodsRequest">
        INSERT INTO goods (id,name, price, description, stock, category_id, image_url, shop_id, status)
        VALUES (#{id}, #{name}, #{price}, #{description}, #{stock}, #{category_id}, #{image_url}, #{shop_id}, #{status})
    </insert>

    <select id="getGoodsByShopId" resultType="com.example.penstore.entity.Goods">
        SELECT * FROM goods WHERE shop_id = #{shop_id}
    </select>
    <select id="getGoodsByStatus" resultType="com.example.penstore.entity.Goods">
        SELECT * FROM goods WHERE status = #{status} AND shop_id = #{shop_id}
    </select>
    <select id="getGoodsByQuery" parameterType="com.example.penstore.dto.GoodsRequest"
            resultType="com.example.penstore.entity.Goods">
        SELECT * FROM goods
        WHERE 1 = 1
        <if test="name != null and name != ''">  <!-- 检查空字符串 -->
            AND name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="id != null and id != ''">      <!-- 检查空字符串 -->
            AND id = #{id}
        </if>
        <if test="category != null and category != ''">  <!-- 检查空字符串 -->
            AND category = #{category}
        </if>
        <if test="startPrice != null and endPrice != null">
            AND price BETWEEN #{startPrice} AND #{endPrice}
        </if>
        AND shop_id = #{shop_id}
    </select>

    <update id="GoodsAvailable">
        UPDATE goods SET status = "available" WHERE id = #{id}
    </update>
    <update id="GoodsUnsold">
        UPDATE goods SET status = "unsold" WHERE id = #{id}
    </update>
    <delete id="deleteGoods">
        DELETE FROM goods WHERE id = #{id}
    </delete>
</mapper>