<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.penstore.dao.OrderMapper">
    <insert id="createOrder" parameterType="com.example.penstore.dto.OrderRequest">
        INSERT INTO `order` (order_id, user_id, shipping_address, created_at)
        VALUES (#{orderId}, #{userId}, #{address}, NOW())
    </insert>

    <!-- 根据产品ID获取购物车中的数量 -->
    <select id="getQuantityByProductId" resultType="java.lang.String">
        SELECT quantity FROM cart WHERE product_id = #{productId}
    </select>

    <!-- 根据产品ID获取产品价格 -->
    <select id="getPriceByProductId" resultType="java.math.BigDecimal">
        SELECT price FROM products WHERE id = #{productId}
    </select>

    <!-- 添加订单项 -->
    <insert id="addOrderItem">
        INSERT INTO order_items (order_id, product_id, quantity, price)
        VALUES (#{orderId}, #{productId}, #{quantity}, #{price})
    </insert>

    <!-- 根据用户ID获取订单 -->
    <select id="getOrdersByUserId" resultType="com.example.penstore.domain.Order">
        SELECT * FROM `order`
        WHERE user_id = #{userId}
    </select>

    <!-- 根据店铺获取全部订单 -->
    <select id="getOrders" resultType="com.example.penstore.domain.Order">
        SELECT o.*, g.name, g.image_url, oi.status, oi.quantity FROM `order` o
        JOIN order_items oi ON o.order_id = oi.order_id
        JOIN goods g ON oi.goods_id = g.id
        WHERE oi.shop_id = #{shop_id}
    </select>
<!--    根据状态获取订单-->
    <select id="getOrdersByStatus" resultType="com.example.penstore.domain.Order">
        SELECT o.*, g.name,g.image_url, oi.status,oi.quantity FROM `order` o
        JOIN order_items oi ON o.order_id = oi.order_id
        JOIN goods g ON oi.goods_id = g.id
        WHERE oi.shop_id = #{shop_id} AND oi.status = #{status}
    </select>
    <!-- 搜索订单 -->
    <select id="getOrdersByQuery" parameterType="com.example.penstore.dto.OrderRequest"
            resultType="com.example.penstore.domain.Order">
            SELECT DISTINCT o.* g.name,g.image_url, oi.status, oi.quantity
            FROM `order` o
            JOIN order_items oi ON o.order_id = oi.order_id
            JOIN goods g ON oi.goods_id = g.id
            WHERE 1 = 1
            <if test="orderId != null">
                AND o.order_id = #{orderId}
            </if>
            <if test="username != null">
                AND o.username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="startDate != null and endDate != null">
                AND o.created_at BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="order_status != null">
                AND o.order_status = #{order_status}
            </if>
            <if test="goodsName != null">
                AND g.name LIKE CONCAT('%', #{goodsName}, '%')
            </if>
            AND oi.shop_id = #{shop_id} AND oi.status = #{status}
        </select>







</mapper>