<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.penstore.dao.UserMapper">
    <insert id="newUser" parameterType="com.example.penstore.dto.UserRequest">
        INSERT INTO user (id, email, username, password)
        VALUES (#{id}, #{email}, #{username}, #{password})
    </insert>

    <select id="signin" parameterType="com.example.penstore.dto.UserRequest"
            resultType="com.example.penstore.domain.User">
        SELECT * FROM user WHERE email = #{email} AND password = #{password}
    </select>

    <select id="a" resultType="com.example.penstore.domain.User">
        SELECT * FROM user
    </select>
    <select id="checkEmailExists" resultType="boolean">
        SELECT COUNT(*) FROM user WHERE email = #{email}
    </select>
    <select id="getById" resultType="com.example.penstore.domain.User">
        SELECT * FROM user WHERE id = #{id}
    </select>
    <update id="updateUser" parameterType="com.example.penstore.dto.UserRequest">
        UPDATE user
        SET avatar = #{avatarPath}, username = #{username}, password = #{password}
        WHERE id = #{id}
    </update>
    <insert id="addAddress">
        INSERT INTO address (user_id, address)
        VALUES (#{userId}, #{address})
    </insert>
    <delete id="deleteAddress">
        DELETE FROM address
        WHERE user_id = #{userId} AND address = #{address}
    </delete>

</mapper>
